<ion-view view-title="{{ playlistId }}">
  <ion-content class="padding" scroll="false">
    <div class="mapWrap" data-tap-disabled="true" style="height:100vh;">
      <div class="row">
        <div class="col">
          <div class="list">
            <button class="button button-full button-positive" ng-click="openOptionsModal()">
              Activity Options
            </button>
          </div>
        </div>
      </div>

      <div style="height:100%;">
        <map center="{{center_position.lat}},{{center_position.lng}}" zoom="15" style="height:75%;">
          <marker
              position="{{current_position.lat}},{{current_position.lng}}"
              title="You Are Here"
              visible="true">
          </marker>
          <info-window ng-show="!_.isEmpty(info_position)" id="1" position="{{info_position.lat}},{{info_position.lng}}" visible="true">
            <div ng-non-bindable="">
              <img ng-show="!_.isEmpty(company.logo_link)" ng-src="{{company.logo_link}}" height="40"></img><br />
              <b>{{ company.name }}</b><br />
              {{ company.street_address_1 }} <br />
              {{ company.street_suburb }} <br />
            </div>
          </info-window>
        </map>
      </div>
    </div>
  </ion-content>
</ion-view>
