<ion-view view-title="Profile">
  <ion-content class="padding">
    <p class="padding-top text-center">What is your age group?</p>
    <div class="button-bar bar-stable">
      <a class="button button-small">0-17</a>
      <a class="button button-small">18-30</a>
      <a class="button button-small">31-50</a>
      <a class="button button-small">51+</a>
      <a class="button button-small">Not Specified</a>
    </div>
    <p class="padding-top text-center">Do you prefer to be</p>
    <div class="button-bar bar-stable">
      <a class="button button-small">Indoors</a>
      <a class="button button-small">Outdoors</a>
    </div>
  </ion-content>
</ion-view>
